header{
    background-color: rgb(21, 160, 179)55, 255, 255);
    text-align: center;
    width: 100%;
    margin: auto;
    border: 10px solid rgb(116, 116, 173)
    padding: 5px; 
}
body, html {
    background-color: #ffffff;
    margin: 0;
    padding: 0;

  
}
.cadeirante{
    width: 30%; /* Ajusta a largura da imagem para 100% do elemento pai */
    height: auto; /* Mantém a proporção da imagem */
    display: block; /* Faz com que a imagem seja exibida como um bloco */
    margin:auto;
}
main{
  background-color: #ffffff; /* Define uma cor de fundo mais escura para a área central */
  color: rgb(84, 97, 107); /* Define a cor do texto dentro da área central como branco */
  padding: 0px; /* Adiciona um espaçamento interno para o conteúdo */
  width: auto;
  font-style: italic;
  font-size: larger;
  margin-top: 100px;
  text-align: center;

}
.menu a {
    
    background-color: rgb(12, 106, 138);
    padding: 20px;
    text-decoration: none;
    color:white;
    
}

.menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 98%;
    background-color: rgb(12, 106, 138);
    padding: 20px;
    text-align: center;
    font-weight: bold;
    color: white;
    z-index: 999; /* Garante que a barra de menu fique acima do restante do conteúdo */
}

.menu a:hover{
    background-color: rgb(20, 20, 75);/*Altera a cor de fundo do botao ao passar o mouse*/
    color:white; /*Altera a cor do texto ao passar o mouse*/
    border-color: blue; /* Altera a cor da borda ao passar o mouse*/
    text-decoration: none;
}
h1{
    color:rgb(12, 106, 138);
    text-align: center;
}
h2{
    color:rgb(12, 106, 138);
    text-align: center;

}

h3{

}
.textoh4 {
  color: black;
  max-width: 900px; /* Define a largura máxima do container */
  margin: 0 auto; /* Centraliza o container horizontalmente na página */
  padding: 90px; /* Adiciona espaçamento interno ao container */
  text-align: left;
  background-color: #ffffff; /* Cor de fundo do container (apenas para visualização) */

}
footer{
  font-size;
  position: fixed; /* Faz o rodapé ficar fixo na parte inferior */
  bottom: 0; /* Alinha o rodapé na parte inferior da janela */
  width: 100%; /* Ocupa toda a largura disponível */
  height: 10vh; /* Ocupa 10% da altura da janela */
  background-color: rgb(12, 106, 138); /* Cor de fundo do rodapé */
  color: white; /* Cor do texto do rodapé */
  display: flex;
  justify-content: space-between;/* Distribui os itens igualmente ao longo do eixo principal */
  align-items: center;/*Alinha os itens verticalmente*/
  padding: 50px;
  box-sizing: border-box; /* Inclui padding na largura e altura */
  z-index: 9999; /* Ajusta o z-index para garantir que o rodapé fique na camada superior */
}

/* Estilo para a área de contato */
.contato {
    text-align: left; /* Alinha os itens à direita */
    font-weight: bold;
  }
.infocontato p{
    display: inline; /* Faz os elementos ficarem na mesma linha */
    margin: 0; /* Remove margens dos parágrafos para melhor alinhamento */
    margin-bottom: 8px;
    margin-right: 50px;

  }
  .links{
    display: flex;
  }

  h7{
    font-weight: bold;
    font-size: larger;
    font-style: italic;
  }
  
  /* Estilo para os links */
  .links a {
    margin-right: 10px;
    color: white;
    text-decoration: none;
    margin-top: 50px;
    margin-left: 20px;
    font-weight: bold;
  }

  .form-cadastro {
    display: flex;
    flex-wrap: wrap;
}

.form-cadastro input[type="text"],
.form-cadastro input[type="email"],
.form-cadastro input[type="number"],
.form-cadastro input[type="password"] {
    border-radius: 5px; /* Define a curvatura das bordas */
    padding: 8px; /* Adiciona um espaço interno para o texto não ficar muito próximo das bordas */
    border: 1px solid #ccc; /* Adiciona uma borda para destacar as caixas */
}

.form-cadastro input[type="submit"] {
    border-radius: 5px; /* Define a curvatura das bordas */
    padding: 10px 20px; /* Ajusta o preenchimento do botão */
    border: none; /* Remove a borda padrão */
    background-color: #333; /* Cor de fundo do botão */
    color: white; /* Cor do texto do botão */
}



.linha {
    flex: 0 0 calc(33.33% - 20px); /* Define cada campo para ocupar 33.33% da largura, com um pouco de margem */
    margin-right: 20px; /* Espaçamento entre os campos */
    margin-bottom: 20px; /* Espaçamento entre as linhas */
    border-style: ;
}

.linha:last-child {
    margin-right: 0; /* Remove a margem do último elemento de cada linha */
}

/* Estilo para os rótulos (opcional) */
label {
    display: block;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 5px;
}

